<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript">
        function doLEDOn() {
            $.ajax({
                url: "fcn_on",
                type: "GET",           
                success: function(response) {
                    //console.log(response);              
                }            
            });   
        }
        function doLEDOff() {
            $.ajax({
                url: "fcn_off",
                type: "GET",           
                success: function(response) {
                    //console.log(response);              
                }            
            });   
        }
    </script>

    <title>LED Controller Page</title>

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- 
         IMPORTANT ITEM #2 - YOU CAN STILL INCLUDE YOUR OWN CUSTOM CSS
         INCLUDE IT HERE AS USUAL
     --> 
    <!--<link href="./my_template.css" rel="stylesheet">-->
    <style type="text/css">
        body {
          padding-top: 5rem;
        }
        .my-template {
          padding: 3rem 1.5rem;
          text-align: center;
        }
        .my-boxed-element {
        	border:1px;
        	border-style:solid;
        	border-color:#AAAAAA;
        	padding: 1em;"
        }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="my-template">
        <h1>Control the LED</h1>
          <!--<ul class="list-inline">-->
          <!--  <li class="list-inline-item my-boxed-element" onclick="doSocketOn()">Turn Light ON</li>-->
          <!--  <li class="list-inline-item my-boxed-element" onclick="doSocketOff()">Turn Light OFF</li>-->
          <!--</ul>-->
        <button type="button" class="btn btn-primary" onclick="doLEDOn()" {{buttonDisabled}}>Turn Light ON</button>
        <button type="button" class="btn btn-primary" onclick="doLEDOff()" {{buttonDisabled}}>Turn Light OFF</button>
      </div>
      
    <div class="my-template">
        <h3>LOGIN to use the button</h3>
        <a href="{{loginlink}}" class="btn btn-secondary" {{loginDisabled}}>Login with ION</a>
      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- 
         IMPORTANT ITEM #3 - YOU NEED TO INCLUDE THIS WITHOUT MODIFICATIONS FOR BOOTSTRAP TO WORK
         THIS IS THE JS THAT HANDLES THE ANIMATIONS

         HERE YOU INCLUDE : 
          - [NECESSARY AND MUST BE FIRST] THE JQUERY LIBRARY FROM A CDN - REQURIRED FOR BOOTSTRAP TO WORK.
              THIS IS THE ANIMATION FOUNDATION BOOTSTRAP IS BUILT UPON
          - [OPTIONAL, BUT FIRST AFTER JQUERY]) POPPER FROM CDN - TOTALLY OPTIONAL, USED FOR HOVERING TOOLTIPS (BUT IF INCLUDED MUST BE AFTER JQUERY)
          - [NECESSARY AND MUST BE AFTER JQUERY (AND POPPER IF USED)] - REQUIRED FOR BOOTSTRAP TO WORK.
              PROVIDES THE ANIMATIONS AND TRANSITIONS THAT MAKE BOOTSTRAP WHAT IT IS
     --> 

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
